* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

*, ::after, ::before {
  box-sizing: border-box; }

html {
  font-size: 15px; }

body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  color: #000;
  line-height: 1.5;
  background: #f0f0f8; }

.max-width {
  max-width: 100%;
  height: auto; }

section {
  margin-bottom: 7rem; }

p {
  margin-bottom: 15px; }

.btn {
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 0;
  padding: 0 2rem;
  border-radius: 5px;
  transition: all .2s ease-in-out;
  display: inline-block;
  color: #fff;
  font-size: 1.33333rem;
  font-weight: 700;
  line-height: 60px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29); }
  .btn-primary {
    background: #6200ee; }
  .btn-secondary {
    background: #280e30; }
  .btn.circle {
    font-weight: 400;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 0;
    font-size: 1.06667rem;
    text-decoration: none;
    float: right;
    line-height: 50px; }

.headline-section {
  font-size: 2rem;
  font-weight: 700; }

.headline-sub {
  font-size: 1.33333rem;
  font-weight: 700; }

.main-text {
  color: #6200ee;
  font-weight: 700; }

.container, .container-fluid {
  margin-right: auto;
  margin-left: auto; }

.container {
  padding-right: 1rem;
  padding-left: 1rem; }

.container-fluid {
  width: 100%;
  padding-right: 2rem;
  padding-left: 2rem; }

.row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: -0.5rem;
  margin-left: -0.5rem; }
  .row.reverse {
    flex-direction: row-reverse; }

.col, .col-3, .col-6, .col-9, .col-12 {
  box-sizing: border-box;
  flex: 0 0 auto;
  padding-right: 0.5rem;
  padding-left: 0.5rem; }

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%; }

.col-3 {
  flex-basis: 25%;
  max-width: 25%;
  padding-right: 15px;
  padding-left: 15px; }

.col-6 {
  flex-basis: 50%;
  max-width: 50%;
  padding-right: 15px;
  padding-left: 15px; }

.col-9 {
  flex-basis: 75%;
  max-width: 75%;
  padding-right: 15px;
  padding-left: 15px; }

.col-12 {
  flex-basis: 100%;
  max-width: 100%;
  padding-right: 15px;
  padding-left: 15px; }

@media only screen and (min-width: 1200px) {
  .container {
    width: 1140px !important; }
  .col-md-3, .col-md-5, .col-md-7 {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem; }
  .col-md-3 {
    flex-basis: 25%;
    max-width: 25%;
    padding-right: 15px;
    padding-left: 15px; }
  .col-md-5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%;
    padding-right: 15px;
    padding-left: 15px; }
  .col-md-7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%;
    padding-right: 15px;
    padding-left: 15px; } }

.mt-3 {
  margin-top: 1rem; }

.mt-5 {
  margin-top: 3rem; }

.mb-5 {
  margin-bottom: 3rem; }

.p-5 {
  padding: 3rem; }

.text-center {
  text-align: center; }

header {
  background-color: white; }
  header .container {
    height: 80px;
    display: flex;
    align-items: center;
    position: relative; }
  header .logo {
    position: absolute; }

.topnav {
  overflow: hidden;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-end; }
  .topnav a {
    display: inline-block;
    color: #000;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.13333rem;
    display: flex;
    align-items: center;
    font-weight: 700; }
    .topnav a svg {
      fill: #000; }
  .topnav .icon {
    display: none;
    padding: 0; }
  @media screen and (max-width: 600px) {
    .topnav a {
      display: none; }
    .topnav a.icon {
      float: right;
      display: flex; }
    .topnav.responsive {
      position: absolute;
      background-color: #000;
      height: auto;
      display: block;
      top: 20px;
      width: 70%;
      right: 15px;
      z-index: 1; }
      .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0; }
      .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
        color: #fff; }
        .topnav.responsive a svg {
          fill: #fff; } }

.hero {
  background: no-repeat center center;
  background-size: cover;
  padding: 9rem 0;
  color: #fff;
  position: relative;
  line-height: 1.36; }
  .hero h1 {
    font-size: 3.33333rem;
    font-weight: 700; }

footer {
  background: #fff; }
  footer .footer-logo {
    float: left;
    overflow: auto;
    margin-right: 12px; }
  footer .copyright {
    overflow: auto; }
