* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

*, ::after, ::before {
  box-sizing: border-box;
}

html {
  font-size: $body-text;
}

body {
	font-family: 'Roboto', sans-serif;
	overflow-x: hidden;
  color: $color-text;
  line-height: 1.5;
  background: $color-background;
}
