* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

*, ::after, ::before {
  box-sizing: border-box;
}

html {
  font-size: $body-text;
}

body {
	font-family: 'Roboto', sans-serif;
	overflow-x: hidden;
  color: $color-text;
  line-height: 1.5;
  background: $color-background;
}

.max-width {
  max-width: 100%;
  height: auto;
}

section {
	margin-bottom: 7rem;
}

p {
	margin-bottom: 15px;
}

ul {
	margin-left: 20px;
}