.headline {
  &-section {
    font-size: calcRem(30px);
    font-weight: 700;
  }

  &-sub {
    font-size: calcRem(20px);
    font-weight: 700;
  }

  &-sub-box {
    background: $color-secondary;
    color: #fff;
    padding: 10px;
  }
}

.main-text {
  color: $color-primary;
  font-weight: 700;
}
